# Database configuration
DB_HOST=        # e.g. localhost
DB_PORT=        # e.g. 5432
DB_NAME=        # e.g. my_database
DB_USER=        # e.g. dbuser
DB_PASSWORD=    # e.g. secret_password

# Secret pepper used for hashing passwords
PASSWORD_PEPPER=  #e.g. generate with openssl

